#top-navbar{
    background-color: #f0f0f0;
    font-size: 10px;
    font-family: Verdana;
    height: 5px;
    padding-top: 0!important;
    padding-bottom: 0!important;
    min-height: 17px !important;
    padding-right:800px;
}

.navbar  a {
    color: #0f0f0f;
    padding-bottom: 30px;
}

.navbar > .nav-tabs > li{
    height: 10px;
}
#lower-navbar{
    color: #0f0f0f !important;
    background-color: #cee2f8;
    margin-top: -20px;
    height: 30px;
    font-family: Verdana;
    border-top: 1px;
    border-bottom: 1px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-color: #5F99CF !important;

}
.navbar > .container-fluid{
	padding-right: 0;
}

#top-tabs > li> a{
    padding-bottom: 0.5px;
    padding-top: 0.5px;
}

#lower-tabs > li {
	height: 15px;
	margin-top: 7px;
}

#lower-tabs > li  a{
    padding-bottom: 0;
    padding-top: 0;
    
}

#lower-tabs{
	margin-top: 23px;
}


.nav-tabs > li > a:hover {

}

#top-tabs> li > a:active{
    color: crimson !important;
    border-bottom: 0;
}


#lower-navbar > navbar  ::after{
	content:none;
}

#custom-search-form {
	margin-bottom: 10px;
}

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-bottom: 15em;
 padding-left: 15%;
 padding-right: 15%;

}

#footer ul {
    float: left;
    display: block;
    list-style-type: none;
}

#posts-list {
    font-family: Verdana;
    padding-bottom:25px;
    font-size: medium;

}

#posts-list > a {
    color: #0000ff !important;
}

#postlist-date {
    font-size: x-small;
    padding-bottom: 0;
}

#under-post{
    font-size: small;
    color: #888;
}

#new-posts{
    float:right;
}

#create-posts > .btn {
    margin-top: 10px;
}

#search-form{
    float: right;
}

#vote-post{
	display: inline-block;
}

#posts-list{
	display: inline-block;
}

#posts-list a {
	float:left;
}

#wut {
	float:right;
}

#new-post {
	float:left;
}

#post{
	margin-top: 15px;
	padding-left: 0;
	color: #0000ff;
}

#postlist-title{
	font-size: medium;
	color: #0000ff;
}

#postlist-details{
	font-size: x-small;
	color: #888;
	margin-bottom: 0;
}

#postlist-details > a{
	font-size: x-small;
	color: #888;
}

#under-post > a {
	font-size: x-small;
	font-weight: bold;
	color: #888;

}

#thumbnail {
	margin-top: 15px;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
}

#ratting-form {
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 0;
	margin-right: 0;
	text-align: right;
	}

#ratting-form > p {
	margin-right: 5px;
	margin-bottom: 3px;
}

.list-group-item {
    display: list-item;
}

#modal-border {
	border-right: 1px solid #DCDCDC;	
}

#create-posts {
	font-family: Verdana;
	width: 300px;
	float: right;
}


#input{
	width: 30px;
}

#body-container {
    padding: 5px 15px 15px 15px;
}

#login-panel {
	height: 75px;
	width: 300px;
}

#login-form {
	margin-top: 5px;
	font-size: x-small;
	font-family: Verdana;
}

#modal-login-form{
	font-size: x-small;
	font-family: Verdana;
	width: 250px;
}

#register-form{
	font-size: x-small;
	font-family: Verdana;
	width: 250px;
}

#login-button {
	margin-top: 18px;
	padding: 1px 4px;
}

.panel {
	border-color: #000;
}

#right-side-column{
	padding-right: 2px;
}

#want-to-join{
	margin-right: 0;
	margin-top: 5px;
	font-family: Verdana;
	font-size: x-small;
	background-color: #eff7ff;
}

.modal-footer {
	border: 0;
}

.modal-footer > p {
	font-size: x-small;
	font-family: Verdana;
	margin-top: 15px;
}

#modal-button{
	float: right;
	margin-top: 30px;
	margin-right: 83px;
}

#logged-in-panel {
	margin-top: 10px;
	background-color: #eaf4fc;
	padding-left: 5px;
}

#logged-in-panel > li {
	color: #369;
	font-size: x-small;
	font-family: Verdana;
}

#logged-in-panel > li > a {
	color: #369;
	font-size: small;
	font-family: Verdana;
	padding-bottom: 0;
}



#panel-body{
	background-color: #cee2f8;
	border: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 20px;
}

#panel-body > p {
	margin-bottom: 0;
}

#addpost-nav-tabs{
	margin-top: 15px;
}

#addpost-nav-tabs > li > a{
	padding-top: 0;
	padding-bottom: 0;
	background-color: #cee2f8;
	font-family: Verdana;
	font-size: x-small;

}

#addpost-nav-tabs > li.active > a,
#addpost-nav-tabs > li.active > a:hover,
#addpost-nav-tabs > li.active > a:focus{
            background-color: #5f99cf;  
        } 

#id_link,
#id_subreddit{
	width: 480px;
}

#id_title{
	width: 480px;
}

#id_body{
	width: 480px;
	height: 100px;
}

#id_topic,
#id_recipient{
	width: 480px;
}

#add-post-label{
	font-family: Verdana;
	font-size: large;
}

#text-above-form{
	font-family: Verdana;
	font-size: large;
	margin-top: 10px;
	margin-bottom: 10px;
}
