#top-navbar{
    background-color: #f0f0f0;
    font-size: 10px;
    font-family: Verdana;
    height: 5px;
    min-height: 17px !important;
}

#top-navbar > .container-fluid {
	padding-left: 0;
}
.navbar  a {
    color: #0f0f0f;
    padding-bottom: 30px;
}

.navbar > .nav-tabs > li{
    height: 10px;
}

#lower-navbar{
    color: #0f0f0f !important;
    background-color: #cee3f8;
    margin-top: -20px;
    font-family: Verdana;
    border-top: 1px;
    border-bottom: 1px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-color: #5F99CF !important;
    position:relative;
}

#collapsible-navbar{
	background-color: #cee2f8;	
}

.dropdown-menu > .divider {
	background-color: black;
}

.dropdown-menu > li > a:hover{
	background-color: #5F99CF;
}

.dropdown-menu > li.active:hover{
	background-color: black !important;
	
}

#top-tabs > li > a{
    padding-bottom: 0.5px;
    padding-top: 0.5px;
}

#lower-tabs {
	position:absolute; 
	bottom: 5px;
}

#lower-tabs > li {
	height: 15px;
	margin-top: 7px;    	
}

#lower-tabs > li  a{
    padding-bottom: 0;
    padding-top: 0;   
}

#lower-tabs{
	margin-top: 23px;
}

.navbar-toggle{
	background-color: white;
}

.icon-bar {
	background-color: black;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a {
	color: red;
	background-color: white !important;
}


#custom-search-form {
	margin-bottom: 10px;
}

#id_search{
	width: 100%;
}
#footer {
 width: 100%;
 position: relative;
 z-index: 10;
 height: 3em;
 border-bottom: 1px solid #e2e2e2;
}

#footer-row{
	right: 45%;
	position: absolute;
	top: 100%;
}

#footer ul {
    float: left;
    display: block;
    list-style-type: none;
}

#posts-list {
    font-family: Verdana;
    padding-bottom:25px;
    font-size: medium;
}

#posts-list > a {
    color: #0000ff !important;
}

#postlist-date {
    font-size: x-small;
    padding-bottom: 0;
}

#under-post{
    font-size: small;
    color: #888;
}

#new-posts{
    float:right;
}

#create-posts > .btn {
    margin-top: 10px;
}

#search-form{
    float: right;
}

#vote-post{
	display: inline-block;
}

#posts-list{
	display: inline-block;
}

#posts-list a {
	float:left;
}

#wut {
	float:right;
}

#post{
	margin-top: 15px;
	padding-left: 0;
	color: #0000ff;
}

#postlist-title{
	font-size: medium;
	color: #0000ff;
}

#comment-header, 
#postlist-details{
	font-size: x-small;
	color: #888;
	margin-bottom: 0;
}

#postlist-details > a{
	font-size: x-small;
	color: #888;
}

#under-post > a {
	font-size: x-small;
	font-weight: bold;
	color: #888;

}

#thumbnail {
	margin-top: 15px;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
}

#ratting-form {
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 0;
	margin-right: 0;
	text-align: right;
	width: 30px;
	}

#ratting-form > p {
	margin-right: 4px;
	margin-bottom: 3px;
}

.list-group-item {
    display: list-item;
}

.btn {
    white-space: normal;
}
#register-page-form, 
#modal-border {
	border-right: 1px solid #DCDCDC;	
	display: in-line;
}


#register-page-form,
#login-page-form{
	margin-top: 60px;
}

#create-posts {
	font-family: Verdana;
}

#input{
	width: 30px;
}

#body-container {
    padding: 5px 15px 15px 15px;
}

#login-panel {
	height: 100%;
	width: 100%;
	display: in-line;
	position: relative;
}

#login-button {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1px 4px;
}

#login-form {
	margin: 5px 4px 0 4px;
	font-size: x-small;
	font-family: Verdana;
}

#modal-login-form{
	font-size: x-small;
	font-family: Verdana;
	display: in-line block;
}

#register-form{
	font-size: x-small;
	font-family: Verdana;
	display: in-line block;
}


.panel {
	border-color: #000;
}

#mobile-loggedin-panel{
	display: in-line;
}

#right-side-column{
	padding-right: 2px;
}

#want-to-join{
	margin-right: 0;
	margin-top: 5px;
	font-family: Verdana;
	font-size: x-small;
	background-color: #eff7ff;
}

.modal-footer {
	border: 0;
}

.modal-footer > p {
	font-size: x-small;
	font-family: Verdana;
	margin-top: 15px;
}

#modal-button{
	margin-top: 15px;
}

#logged-in-panel {
	padding: 0 5px 0 5px;
	margin-top: 10px;
	background-color: #eaf4fc;
}

#logged-in-panel > li {
	color: #369;
	font-size: x-small;
	font-family: Verdana;
}

#logged-in-panel > li > a {
	color: #369;
	font-size: small;
	font-family: Verdana;
	padding-bottom: 0;
}

#panel-body{
	background-color: #cee2f8;
	border: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 20px;
}

#panel-body > p {
	margin-bottom: 0;
}

#addpost-nav-tabs{
	margin-top: 15px;
}

#addpost-nav-tabs > li > a{
	padding-top: 0;
	padding-bottom: 0;
	background-color: #cee2f8;
	font-family: Verdana;
	font-size: x-small;
}

#addpost-nav-tabs > li.active > a,
#addpost-nav-tabs > li.active > a:hover,
#addpost-nav-tabs > li.active > a:focus{
	background-color: #5f99cf;  
        } 
        
#id_title,
#id_link,
#id_subreddit{
	width: 100%;
}


#id_body{
	width: 100%;
	height: 100px;
}

#id_topic,
#id_recipient{
	width: 100%;
}

#add-post-label{
	font-family: Verdana;
	font-size: large;
}

#text-above-form{
	font-family: Verdana;
	font-size: large;
	margin-top: 10px;
	margin-bottom: 10px;
}

#inbox-tabs > li > a{
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 10px;
}

#inbox-tabs > li.active > a,
#inbox-tabs > li.active > a:hover,
#inbox-tabs > li.active > a:focus{
	background-color: white;  
    color: red;
} 
        
#inbox-all{
	margin-top: 10px;
	font-family: Verdana;
	font-size: small;
}

#inbox-all > p {
	margin-left: 15px;
}

#inbox-all > b{
	margin-right: 7px;
}

#message-data{
	font-size: x-small;
}

#message-data > a {
	color: #5f99cf;
	font-weight: bold;
}

#under-message > a{
	font-size: x-small;
}

#body-message{
	margin-bottom: 0px;
}

#messages-column{
	margin-top: 10px;
}

#messages-column > a {
	color: #0000ff;
}

#author-panel {
	margin-right: 5px;
	background-color: #cee2f8;
	color: #5f99cf;
	padding-right: 5px;
	padding-left: 5px;
	display: inline-block;
}

#sent-message-body{
	margin-left: 15px;
}

#sent-row{
	margin-top: 10px;
}

#error {
	color: red;
	margin-top: 10px;
}

#author-panel-sent {
	margin-bottom: 10px;
	margin-right: 5px;
	background-color: #cee2f8;
	color: #5f99cf;
	padding-right: 5px;
	padding-left: 5px;
	display: inline-block;
}

#body-panel {
	min-width: 300px;
	padding: 5px 100px 5px 5px;
	display: inline-block;
	margin-bottom: 0;
	font-family: Verdana;
}

#body-panel > p{
	margin-bottom: 0;
}

#detail-post-title{
	margin-bottom: 0;
}

#post-footer{
	font-size: x-small;
	font-weight: bold;
	font-family: Verdana;
}

#post-comment{
	border-top: 1px solid;
	border-color: #E7E7E7;
}
#comment-row{
	border: 1px solid;
	border-right: 0;
	border-color: #E7E7E7;
	
}

#comment-row + #comment-row{
	border-top:0;
}

#div_id_body{
	margin-top: 5px;
	margin-bottom: 5px;
}

#comment-button{
	margin-bottom: 20px;
}

#comment-reply{
	font-family: Verdana;
}

#reply-button{
	font-size: x-small;
	margin-bottom: 10px;
}

#comment-body{
	margin-bottom: 0;
}

#reply-body{
	margin-bottom: 0;
}

#post-ratting{
	font-size: x-large;
}

#detail-ratting-form {
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 0;
	margin-right: 0;
	text-align: right;
	width: 30px;
}
	
#detail-ratting-form > p {
	margin-right: 4px;
}

#main-comment-ratting-form{
	margin-top: 6px;
	padding-left:0;
	padding-right: 0;
	margin-right: 0;
	text-align: right;
	width: 10px;
	margin-left: 10px;
}

#child-comment-colum{
	padding-left: 0;
}

#under-title{
	margin-left: 10px;
}

#karma {
	font-size: large;
	font-family: Verdana;
	font-weight: bold;
	display: inline-block;
}

#ratting-form-inbox {
	padding-left: 10px;
	padding-right: 0;
	margin-right: 0;
	text-align: right;
	width: 30px;
}

#lul {
	display: inline-block;	
}

#close-form {
	display: none;
}

#large-navbar > .nav-tabs {
	position: absolute;
	bottom: 0;
	left: 150px;
}

#large-navbar > .nav-tabs > li{
	left:20px;
}

#large-navbar  > .navbar-nav{
	position: absolute;
	bottom: 0;
	right: 15px;
}

#large-navbar > .nav-tabs > li > a{
	padding-top: 0;
	padding-bottom: 0;
	
}
