{% extends "message/inbox_navbar.html" %}
{% load static %}
{% block content %}
{% load humanize %}
		<ul class="nav nav-tabs" role="tablist" id="">
				<li><a href="{% url 'inbox' %}">all</a></li>
				<li><a href="{% url 'messages' %}">messages</a></li>
				<li class="active"><a href="{% url 'mentions' %}">mentions</a></li>				
    	</ul>
{% for mention in Mentions %}
<div class="row">	
	<div class="col-sm-9" id="post">
			<a id="post-title" href="{{mention.thread}}">{{message.thread}}</a>
			<p> {{mention.body}} </p>
			<p id="postlist-date"> dodane {{mention.date|naturaltime}} przez {{mention.author}}
	</div>			
</div>

{% endfor %}
{% endblock %}