{% extends "r/index.html" %}}
{% load static %}
{% load humanize %}

{% block title %}
<title>All posts</title>
{% endblock %}

<!-- Default navbar tabs -->
{% block navbar_tabs %}
	<!-- Nests another block inside the main one so the same data can used more than once in the same template -->
	{% block nested_navbar_tabs %} 
	
	{% if subforum %}
	<!-- Checks if the subforum kwarg exists, if true then it changes the reverse url -->
		{% if not sorting %}
			<li class="active"><a href="{% url 'category' category=subforum %}">hit</a></li>
		{% else %}
			<li><a href="{% url 'category' category=subforum %}">hit</a></li>
		{% endif %}
		
		{% if sorting == 'new' %}
		<li class="active"><a href="{% url 'subforum_sorting' category=subforum sorting='new' %}">new</a></li>
		{% else %}
		<li><a href="{% url 'subforum_sorting' category=subforum sorting='new' %}">new</a></li>
		{% endif %}
		
		{% if sorting == 'rising' %}
		<li class="active"><a href="{% url 'subforum_sorting' category=subforum sorting='rising' %}">rising</a></li>
		{% else %}
		<li><a href="{% url 'subforum_sorting' category=subforum sorting='rising' %}">rising</a></li>
		{% endif %}
		
		{% if sorting == 'controversial' %}
			<li class="active"><a href="{% url 'subforum_sorting' category=subforum sorting='controversial' %}">controversial</a></li>
		{% else %}
			<li><a href="{% url 'subforum_sorting' category=subforum sorting='controversial' %}">controversial</a></li>
		{% endif %}
		
		{% if sorting == 'top' %}
			<li class="active"><a href="{% url 'subforum_sorting' category=subforum sorting='top' %}">top</a></li>
		{% else %}
			<li><a href="{% url 'subforum_sorting' category=subforum sorting='top' %}">top</a></li>
		{% endif %}
		
		{% if sorting == 'promoted' %}
		<li class="active"><a href="{% url 'subforum_sorting' category=subforum sorting='promoted' %}">promoted</a></li>
		{% else %}
		<li><a href="{% url 'subforum_sorting' category=subforum sorting='promoted' %}">promoted</a></li>
		{% endif %}
		
	{% else %}
	
		{% if not sorting %}
			<li class="active"><a href="{% url 'index' %}">hit</a></li>
		{% else %}
			<li><a href="{% url 'index' %}">hit</a></li>
		{% endif %}
		
		{% if sorting == 'new' %}
		<li class="active"><a href="{% url 'sorting' sorting='new' %}">new</a></li>
		{% else %}
		<li><a href="{% url 'sorting' sorting='new' %}">new</a></li>
		{% endif %}
		
		{% if sorting == "rising" %}
			<li class="active"><a href="{% url 'sorting' sorting='rising' %}">rising</a></li>
		{% else %}
			<li><a href="{% url 'sorting' sorting='rising' %}">rising</a></li>
		{% endif %}
		
		{% if sorting == "controversial" %}
			<li class="active"><a href="{% url 'sorting' sorting='controversial' %}">controversial</a></li>
		{% else %}
			<li><a href="{% url 'sorting' sorting='controversial' %}">controversial</a></li>
		{% endif %}
		
		{% if sorting == "top" %}
			<li class="active"><a href="{% url 'sorting' sorting='top' %}">top</a></li>
		{% else %}
			<li><a href="{% url 'sorting' sorting='top' %}">top</a></li>
		{% endif %}
		
		{% if sorting == "promoted" %}
			<li class="active"><a href="{% url 'sorting' sorting='promoted' %}">promoted</a></li>
		{% else %}
			<li><a href="{% url 'sorting' sorting='promoted' %}">promoted</a></li>
		{% endif %}
		
	{% endif %}
	
	{% endblock %}
	
{% endblock %}

{% block content %}

{% for post in TextPosts %}
<!-- Posts list  -->
<!-- Voting form -->
<div class="row">
	<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3" id="ratting-form">
		{% if user.is_authenticated %}
			<form method="POST" action="{% url 'voting' word=post.subforum pk=post.pk direction='up' %}"> {% csrf_token %}
		{% endif %}
		{% if post.direction == 'up' %}
			<input type="image" value="submit" src="{% static "images/UpVoted.png" %}">
		{% else %}
			{% if user.is_authenticated %}
				<input type="image" value="submit" src="{% static "images/UpVote.png" %}">
			{% else %}
				<input type="image" data-toggle="modal" href="#modal-1" src="{% static "images/UpVote.png" %}">
			{% endif %}
		{% endif %}
		</form>
		<p>{{post.rating}}</p>
		{% if user.is_authenticated %}
			<form method="POST" action="{% url 'voting' word=post.subforum pk=post.pk direction='down' %}"> {% csrf_token %}
		{% endif %}
		{% if post.direction == 'down' %}
			<input type="image" value="submit" src="{% static "images/DownVoted.png" %}">
			{% else %}
				{% if user.is_authenticated %}
					<input type="image" value="submit" src="{% static "images/DownVote.png" %}">
				{% else %}
					<input type="image" data-toggle="modal" href="#modal-1" src="{% static "images/DownVote.png" %}">
				{% endif %}
		{% endif %}
		</form>
	</div>
<!-- Thumbnail -->
	<div class="col-lg-1 col-md-1 col-sm-2 col-xs-5" id="thumbnail">
	{% if post.image %}
			<img src="{% static "media/" %}{{post.image}}"/>
	{% elif post.imgur_image %}
			<img src="{{post.imgur_image}}"/>
	{% else %}
			<a href="{% url 'detailview' word=post.subforum slug=post.slug %}"><img src="{% static "images/DefaultThumbnail.png" %}"></a>
	{% endif %}
	</div>
<!-- Post title, author, date, subforum -->	
	<div class="col-lg-10 col-md-10 col-sm-8 col-xs-6" id="post">
		{% if not post.link == None %}
			<a id="postlist-title" href="{{post.link}}">{{post.title}}</a>
		{% else %}
			<a id="postlist-title" href="{% url 'detailview' word=post.subforum slug=post.slug %}">{{post.title}}</a>
		{% endif %}
			<p id="postlist-details"> added {{post.date|naturaltime}} by <a href="{% url 'all_activity' username=post.author %}">{{post.author}}</a> do
			<a href="{% url 'category' category=post.subforum %}">/r/{{post.subforum}}</a></p>
			<form method="POST" id="close-form" action="{% url 'close' pk=post.pk %}">{% csrf_token %}
			<button id="close-button" type="submit" class="btn btn-link">close</button>
			</form>
			<p id="under-post"><a href="{% url 'detailview' word=post.subforum slug=post.slug %}">{{post.comments_count}} comments</a>  <a href="#">share</a>  <a href="#">save</a> 
			{% if post.author == user %}
			<a class="not-active" href="#">close</a>
			{% endif %}
			</p>
	</div>			
</div>

{% endfor %}
{% endblock %}
