{% extends "r/index.html" %}}
{% load static %}
<!-- Default navbar tabs -->
{% block navbar_tabs %}
	<li class="active"><a href="#">hit</a></li>
	<li><a href="#">new</a></li>
	<li><a href="#">rising</a></li>
	<li><a href="#">controversial</a></li>
	<li><a href="#">top</a></li>
	<li><a href="#">gilded</a></li>
	<li><a href="#">wiki</a></li>
	<li><a href="#">promoted</a></li>
{% endblock %}

{% block content %}
{% load humanize %}
{% for post in TextPosts %}
<!-- Posts list  -->
<!-- Voting form -->
<div class="row">
	<div class="col-lg-1" id="ratting-form">
		<form method="POST" action="{% url 'voting' word=post.subreddit pk=post.pk direction='up' %}"> {% csrf_token %}
		{% if post.voted.voting_direction == 'up' and post.voted.user.username == user.get_username %}
		<input type="image" value="submit" src="{% static "images/UpVoted.png" %}">
		{% else %}
		<input type="image" value="submit" src="{% static "images/UpVote.png" %}">
		{% endif %}
		</form>
		{{post.voted.user.username}}
		<p>{{post.rating}}</p>
		<form method="POST" action="{% url 'voting' word=post.subreddit pk=post.pk direction='down' %}"> {% csrf_token %}
			<input type="image" value="submit" src="{% static "images/DownVote.png" %}">
		</form>
	</div>
<!-- Thumbnail -->
	<div class="col-lg-1" id="thumbnail">
	{% if post.image %}
			<img src="{% static "media/" %}{{post.image}}"/>
	{% elif post.imgur_image %}
			<img src="{{post.imgur_image}}"/>
	{% else %}
			<a href="{% url 'detailview' word=post.subreddit slug=post.slug %}"><img src="{% static "images/DefaultThumbnail.png" %}"></a>
	{% endif %}
	</div>
<!-- Post title, author, date, subreddit -->	
	<div class="col-lg-10" id="post">
		{% if not post.link == None %}
			<a id="postlist-title" href="{{post.link}}">{{post.title}}</a>
		{% else %}
			<a id="postlist-title" href="{% url 'detailview' word=post.subreddit slug=post.slug %}">{{post.title}}</a>
		{% endif %}
			<p id="postlist-details"> dodane {{post.date|naturaltime}} przez {{post.author}} do
			<a href="{% url 'category' category=post.subreddit %}">/r/{{post.subreddit}}</a></p>
			<p id="under-post"><a href="{% url 'detailview' word=post.subreddit slug=post.slug %}">{{post.comments_count}} komentarzy</a>  <a href="#">podziel się</a>  <a href="#">zapisz</a> </p>
	</div>			
</div>

{% endfor %}
{% endblock %}