{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>reddit</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Bootstrap CSS theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Custom CSS styling -->
    <link rel='stylesheet' type='text/css' href="{% static 'css/custom.css' %}">
</head>

<!-- page header -->
<!-- top navbar -->
<div class="navbar navbar-static-top" id="top-navbar">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-pills" id="top-tabs">
                <li class="active"><a href="#">Front</a></li>
                <li><a href="#">All</a></li>
                <li><a href="#">Random</a></li>
            </ul>
        </div>
    </div>
</div>
<!--lower navbar -->
<div class="navbar sub-navbar" id="lower-navbar">
<div class="container-fluid" id="test">
   <a href="{% url 'index' %}" class="navbar-brand">reddit</a>
            <ul class="nav nav-tabs" id="lower-tabs">
                <li class="active"><a href="#">hit</a></li>
                <li><a href="#">new</a></li>
                <li><a href="#">rising</a></li>
                <li><a href="#">controversial</a></li>
                <li><a href="#">top</a></li>
                <li><a href="#">gilded</a></li>
                <li><a href="#">wiki</a></li>
                <li><a href="#">promoted</a></li>
                {% if not user.is_authenticated %}
                <li class="pull-right"><a id="want-to-join" data-toggle="modal" href="#modal-1">Want to join? Log in or sign up in seconds.</a></li>
                {% else %}
                <div class="pull-right" id="logged-in-panel">
                <li><a href="#">{{user.get_username}}</a> | <a class="glyphicon glyphicon-envelope" href="{% url 'inbox' %}"></a> | <a href="">settings</a> | <a href="{% url 'logout' %}">logout</a></li>
                </div>
                {% endif %}
                <!-- Register form modal -->                      
                <div class="container-fluid">
                <a href="" data-toggle="modal" data-target="#modal-1"></a>
	                <div class="modal fade bs-example-modal-lg" id="modal-1">
	                	<div class="modal-dialog modal-lg">
	                		<div class="modal-content">
	                			<div class="modal-header">
	                				<button type="button" class="close" data-dismiss="modal">&times;</button>
	                					<div class="row">
	                						<div class="col-lg-6">
	                							<h3 class="text-center">Register a new account</h3>
	                						</div>
	                						<div class="col-lg-6">
	                							<h3 class="text-center">Log in</h3>
	                						</div>
	                					</div>
	                			<div class="modal-body">
	                				<div class="row">
	                					<div class="col-sm-5 col-sm-offset-1" id="modal-border">	                				
	                						<form method="POST" class="action="{% url 'register' %}">{% csrf_token %}
				                				{{register_form|crispy}}
				                				<button type="submit" id="modal-button" class="btn btn-primary">Register</button>	                				
	                						</form>
		                				</div>	
	                					<div class="col-sm-5 col-sm-offset-1">
		                					<form method="POST" action="{% url 'login' %}">{% csrf_token %}
				                				{{modal_login_form|crispy}}
				                				<button type="submit" id="modal-button" class="btn btn-primary">Log in</button>
				                				<input type="hidden" name="next" value="{{  request.GET.next }}" />
		                					</form>  
	                					</div>
	                				</div>    		
	                			</div>
	                			<div class="modal-footer">
	                				<p class="text-center">By signing up, you agree to our Terms and that you have read our Privacy Policy and Content Policy.</p>
	                			</div>
	                			</div>
	                		</div>
	                	</div>
	                </div>
	            </div>	            
            </ul>
        </div>
   </div>
</div>
<!-- Body content -->
<div class="container-fluid" id="body-container">
	<div class="row">
    	<div class="col-lg-10" id="body-content">
          		{% block content %}
	            {% endblock %}
    	</div>
    	<!-- Search form -->
		<div class="col-lg-2 other" id="right-side-column">
			<div class="row">
				<div class="col-lg-12">
			        <form id="custom-search-form" class="pull-right" method='GET' action="{% url 'index' %}">
	                   	{{search_form}}
					</form>
	            </div>
	        </div>
	        <!-- Login panel -->
	        {% if not user.is_authenticated %}
	        <div class="row">	        	
	        	<div class="col-lg-12">
	        		<div class="panel panel-primary pull-right" id="login-panel">
		        		<form method="POST" class="text-center" action="{% url 'login' %}">{% csrf_token %}
					    	{{login_form}}
					    	<div class="row">
					    	<div class="col-lg-12">
					        <button type="submit" id="login-button" class="btn btn-default pull-right">login</button>
					        </div>
					        </div>
					    </form>   
					    </div>
				    </div>
				    </div> 
	        {% endif %}
	        <!-- New post -->
		    <div class="row">
		    	<div class="col-lg-12">   
		    		<div class="btn-group-vertical" role="group" aria-label="..." id="create-posts">
		    			{% if user.is_authenticated %}
				     	<a class="btn btn-default" href="{% url 'new_text_post' %}" role="button">Submit a new link</a>
				        <a class="btn btn-default" href="{% url 'new_text_post' %}" role="button">Submit a new text post</a>
				        {% else %}
				        <a class="btn btn-default" data-toggle="modal" href="#modal-1" role="button">Submit a new link</a>
				        <a class="btn btn-default" data-toggle="modal" href="#modal-1" role="button">Submit a new text post</a>
				        {% endif %}
		    		</div>  
		    	</div>      
	    	</div>
  		</div>
	</div>
</div>	
<!-- Footer -->
<div id="footer">
    <div class="container" id="footer">
        <div class="row">
            <ul>
                <li><b>about</b></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">source code</a></li>
                <li><a href="#">advertise</a></li>
                <li><a href="#">jobs</a></li>
            </ul>
            <ul>
                <li><b>help</b></li>
                <li><a href="#">site rules</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">wiki</a></li>
                <li><a href="#">reddiquette</a></li>
                <li><a href="#">transparency</a></li>
                <li><a href="#">contact us</a></li>
            </ul>
            <ul>
                <li><b>apps & tools</b></li>
                <li><a href="#">Reddit for iPhone</a></li>
                <li><a href="#">Reddit for Android</a></li>
                <li><a href="#">mobile website</a></li>
                <li><a href="#">buttons</a></li>
            </ul>
            <ul>
                <li><b><3</b></li>
                <li><a href="#">reddit gold</a></li>
                <li><a href="#">redditgifts</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Simpiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function(){
	
	$('#search-button').keyup(function(){
			
			$.ajax({
				type:'GET',
				url:'/create/',
				data:{
					search_data:$('#search').val()
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
				},
				sucess:searchSuccess,				
				dataTyoe: 'html'				
			})							
	});
}
function searchSuccess(data, textStatus, jqXHR)
{
$('#search-results').html(data);
}

<script type="text/javascript">
$(document).on('submit'),'#new-text-post', function(e){
	e.preventDefault();
	
	$.ajax({
		type:'POST',
		url:'/addpost/',
		data:{}
	})
	
	
	}


</script>

</body>
</html>