{% extends 'r/index.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}
<title>{{TextPost.title}}</title>
{% endblock %}

{% block post_score %}
	        <div class="row">	        	
	        	<div class="col-lg-12">
	        		<div class="panel panel-primary pull-right text-center" id="login-panel">
	        			<p>this post was subbmited on {{TextPost.date|date:'Y-m-d'}}</p>
						<p><b id="post-ratting">{{TextPost.rating}}</b><b> points</b> ({{TextPost.average}}% upvoted)</p>
					</div>
				</div>
			</div> 			
{% endblock %}

{% block content %}
<!-- Post details -->
	<div class="row">
		<!-- Post voting form -->
		<div class="col-lg-1" id="detail-ratting-form">
			<form method="POST" action="{% url 'voting' word=TextPost.subreddit pk=TextPost.pk direction='up' %}"> {% csrf_token %}
				<input type="image" value="submit" src="{% static "images/arrow-up.png" %}">
			</form>
			<p>{{TextPost.rating}}</p>
			<form method="POST" action="{% url 'voting' word=TextPost.subreddit pk=TextPost.pk direction='down' %}"> {% csrf_token %}
				<input type="image" value="submit" src="{% static "images/arrow-down.png" %}">
			</form>
		</div>
		<div class="col-lg-11">
     		<h3 id="detail-post-title">{{TextPost.title}}{{LinkPosts.title}}</h3>
     		<p id="postlist-details">submitted {{TextPost.date|naturaltime}} by <a href="#">{{TextPost.author}}</a></p>
     		<p>
     		<div class="panel panel-default" id="body-panel">
     			<p>{{TextPost.body}}</p>
     		</div>
     		</p>
     		<footer id="post-footer">
     		<a href="{% url 'detailview' word=TextPost.subreddit slug=TextPost.slug %}">{{TextPost.comments_count}} comments</a> 
     		<a href="#">share</a>
     		<a href="#">save</a>
     		<a href="#">report</a>
     		</footer>
    	</div> 	
    </div>	
    <!-- Comment form -->
	<div class="row" id="post-comment">
		<div class="col-lg-12">
	   		 <form method="POST" action="{% url 'detailview' word=TextPost.subreddit slug=TextPost.slug %}">
		         {% csrf_token %}
		         {{form|crispy}}
		         <input type="submit" id="comment-button" class="btn btn-default" value="save" </input>
	         </form>
         </div>
    </div>      
    <!-- Comments of the first instance -->
    {% for comment in comments %}  
    <div class="row" id="comment-row">
    	<!-- Main comment voting form -->
    	<div class="col-lg-1" id="main-comment-ratting-form">
			<form method="POST" action="{% url 'comment_voting' word=TextPost.subreddit.name slug=TextPost.slug pk=comment.pk direction="up" %}"> {% csrf_token %}
				<input type="image" value="submit" src="{% static "images/arrow-up-xsmall.png" %}">
			</form>
			<form method="POST" action="{% url 'comment_voting' word=TextPost.subreddit slug=TextPost.slug pk=comment.pk direction='down' %}"> {% csrf_token %}
				<input type="image" value="submit" src="{% static "images/arrow-down-xsmall.png" %}">
			</form>
		</div>
		<div class="col-lg-11">
			<div id="comment-header">
				<a href="#">{{comment.author}}</a> {{comment.rating}} points {{comment.date|naturaltime}}
			</div>
		    <p id="comment-body">{{comment.body}}</p>
		    <a data-toggle="collapse" href="#reply{{comment.pk}}" aria-expanded="false" aria-controls="reply{{comment.pk}}">
  			<p id="reply-button">reply</p>
  			</a>
  			<div class="collapse" id="reply{{comment.pk}}">
			   	 <form method="POST" action="{% url 'comment_reply' word=TextPost.subreddit.name slug=TextPost.slug pk=comment.id instance=comment.default_instance %}">
			         {% csrf_token %}
			         {{comment_reply_form}}
			         <input type="submit" id="comment-button" class="btn btn-default" value="save" </input>
		         </form>
			</div>			
				<!-- Children of the main comment -->
			    {% for reply in comment.child %}
			    <div class="row"  style="margin-left:{{reply.padding}}px;">
			    <!-- Child comment voting form -->
					<div class="col-lg-1" id="main-comment-ratting-form">
						<form method="POST" action="{% url 'comment_voting' word=TextPost.subreddit slug=TextPost.slug pk=reply.pk direction='up' %}"> {% csrf_token %}
							<input type="image" value="submit" src="{% static "images/arrow-up-xsmall.png" %}">
						</form>
						<form method="POST" action="{% url 'comment_voting' word=TextPost.subreddit slug=TextPost.slug pk=reply.pk direction='down' %}"> {% csrf_token %}
							<input type="image" value="submit" src="{% static "images/arrow-down-xsmall.png" %}">
						</form>
					</div>
				    <div class="col-lg-11" id="child-comment-column">
					    <div id="comment-reply">
						    <div id="comment-header">
								<a href="#">{{reply.author}}</a> {{reply.rating}} points {{reply.date|naturaltime}}
							</div>
							<p id="reply-body">{{reply.body}}</p>
							<a data-toggle="collapse" href="#reply{{reply.pk}}" aria-expanded="false" aria-controls="reply{{reply.pk}}">
							<p id="reply-button">reply</p>
							</a>
							<div class="collapse" id="reply{{reply.pk}}">
							   	 <form method="POST" action="{% url 'comment_reply' word=TextPost.subreddit.name slug=TextPost.slug pk=comment.id instance=reply.instance %}">
							         {% csrf_token %}
							         {{comment_reply_form}}
							         <input type="submit" id="comment-button" class="btn btn-default" value="save" </input>
						         </form>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}			
	    </div>
	</div>
    {% endfor %}

{% endblock %}