{% extends "user/user_base.html" %}
{% load static %}

{% block title %}
<title>profil {{current_user}}</title>
{% endblock %}

	        {% block post_score %}
	        <p><h3>{{current_user}}</h3></p>
	        <p><div id="karma">{{thread_karma}}</div> post karma</p>
	        <p><div id="karma"> {{comment_karma}} </div> comment karma</p>
	        <a href="{% url 'pm' user=current_user %}"><p>send a private message</p></a>
	        {% endblock %}
	        
{% block content %}
{% load humanize %}
{% for post in user_activity %}

	{% if post.title %}
	
		<div class="row" id="inbox-all">
			<div class="ol-lg-1 col-md-1 col-sm-2 col-xs-3" id="ratting-form">
			{% if user.is_authenticated %}
				<form method="POST" action="{% url 'voting' word=post.subforum pk=post.pk direction='up' %}"> {% csrf_token %}
			{% endif %}
			{% if post.direction == 'up' %}
				<input type="image" value="submit" src="{% static "images/UpVoted.png" %}">
			{% else %}
				{% if user.is_authenticated %}
					<input type="image" value="submit" src="{% static "images/UpVote.png" %}">
				{% else %}
					<input type="image" data-toggle="modal" href="#modal-1" src="{% static "images/UpVote.png" %}">
				{% endif %}
			{% endif %}
				</form>
				<p>{{post.rating}}</p>		
				{% if user.is_authenticated %}		
				<form method="POST" action="{% url 'voting' word=post.subforum pk=post.pk direction='down' %}"> {% csrf_token %}
				{% endif %}
				{% if post.direction == 'down' %}
					<input type="image" value="submit" src="{% static "images/DownVoted.png" %}">
				{% else %}
					{% if user.is_authenticated %}
						<input type="image" value="submit" src="{% static "images/DownVote.png" %}">
					{% else %}
						<input type="image" data-toggle="modal" href="#modal-1" src="{% static "images/DownVote.png" %}">
					{% endif %}
				{% endif %}
				</form>
			</div>
		<!-- Thumbnail -->
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-5" id="thumbnail">
			{% if post.image %}
					<img src="{% static "media/" %}{{post.image}}"/>
			{% elif post.imgur_image %}
					<img src="{{post.imgur_image}}"/>
			{% else %}
					<a href="{% url 'detailview' word=post.subforum slug=post.slug %}"><img src="{% static "images/DefaultThumbnail.png" %}"></a>
			{% endif %}
			</div>
		<!-- Post title, author, date, subforum -->	
			<div class="col-lg-10 col-md-10 col-sm-8 col-xs-6 id="post">
				{% if not post.link == None %}
					<a id="postlist-title" href="{{post.link}}">{{post.title}}</a>
				{% else %}
					<a id="postlist-title" href="{% url 'detailview' word=post.subforum slug=post.slug %}">{{post.title}}</a>
				{% endif %}
					<p id="postlist-details"> dodane {{post.date|naturaltime}} przez {{post.author}} do
					<a href="{% url 'category' category=post.subforum %}">/r/{{post.subforum}}</a></p>
					<p id="under-post"><a href="{% url 'detailview' word=post.subforum slug=post.slug %}">{{post.comments_count}} komentarzy</a>  <a href="#">podziel się</a>  <a href="#">zapisz</a> </p>
			</div>			
		</div>
		
	{% elif post.thread %}
		<div class="row">	
			<div class="col-sm-12 col-xs-12" id="inbox-all">
				<b>post reply</b> <a href="{% url 'detailview' word=post.thread.subforum slug=post.thread.slug %}"><i>{{post.thread}}</i></a>
				<div class="row">	
					<div class="col-xs-2" id="ratting-form-inbox">	
					{% if user.is_authenticated %}
						<form method="POST" action="{% url 'comment_voting' word=post.thread.subforum slug=post.thread.slug pk=post.pk direction='up' %}"> {% csrf_token %}
					{% endif %}
					{% if post.direction == 'up' %}
						<input type="image" value="submit" src="{% static "images/UpVoted.png" %}">
					{% else %}
						{% if user.is_authenticated %}
							<input type="image" value="submit" src="{% static "images/UpVote.png" %}">
						{% else %}
							<input type="image" data-toggle="modal" href="#modal-1" src="{% static "images/UpVote.png" %}">
						{% endif %}
					{% endif %}
						</form>
						{% if user.is_authenticated %}
							<form method="POST" action="{% url 'comment_voting' word=post.thread.subforum slug=post.thread.slug pk=post.pk direction='down' %}"> {% csrf_token %}
						{% endif %}
						{% if post.direction == 'down' %}
							<input type="image" value="submit" src="{% static "images/DownVoted.png" %}">
						{% else %}
							{% if user.is_authenticated %}
								<input type="image" value="submit" src="{% static "images/DownVote.png" %}">
							{% else %}
								<input type="image" data-toggle="modal" href="#modal-1" src="{% static "images/DownVote.png" %}">
							{% endif %}
						{% endif %}
						</form>
					</div>
					<div class="col-xs-10">
						<p id="message-data"> from <a href="{% url 'all_activity' username=post.author %}">{{post.author}}</a> via <a href="{% url 'category' category=post.thread.subforum %}">/r/{{post.thread.subforum}}</a> sent {{post.date|naturaltime}}</p>
						<p id="body-message"> {{post.body}} </p>
						<p id="under-message"> <a href="{% url 'detailview' word=post.thread.subforum slug=post.thread.slug %}">full comments ({{post.thread.comments_count}})</a></p>
					</div>
				</div>
			</div>	
		</div>		
		
	{% elif post.main_post %}
		<div class="row">	
			<div class="col-xs-12" id="inbox-all">
				<b>comment reply</b> <a href="{% url 'detailview' word=post.main_post.thread.subforum slug=post.main_post.thread.slug %}"><i>{{post.main_post.thread}}</i></a>
				<div class="row">
					<div class="col-xs-2" id="ratting-form-inbox">	
						{% if user.is_authenticated %}
							<form method="POST" action="{% url 'comment_voting' word=post.main_post.thread.subforum slug=post.main_post.thread.slug pk=post.pk direction='up' %}"> {% csrf_token %}
						{% endif %}
						{% if post.direction == 'up' %}
							<input type="image" value="submit" src="{% static "images/UpVoted.png" %}">
						{% else %}
							{% if user.is_authenticated %}
								<input type="image" value="submit" src="{% static "images/UpVote.png" %}">
							{% else %}
								<input type="image" data-toggle="modal" href="#modal-1" src="{% static "images/UpVote.png" %}">
							{% endif %}
						{% endif %}
						</form>
						{% if user.is_authenticated %}
							<form method="POST" action="{% url 'comment_voting' word=post.main_post.thread.subforum slug=post.main_post.thread.slug pk=post.pk direction='down' %}"> {% csrf_token %}
						{% endif %}
						{% if post.direction == 'down' %}
							<input type="image" value="submit" src="{% static "images/DownVoted.png" %}">
						{% else %}
							{% if user.is_authenticated %}
								<input type="image" value="submit" src="{% static "images/DownVote.png" %}">
							{% else %}
								<input type="image" data-toggle="modal" href="#modal-1" src="{% static "images/DownVote.png" %}">
							{% endif %}
						{% endif %}
						</form>
					</div>				
					<div class="col-xs-10">
						<p id="message-data">from <a href="{% url 'all_activity' username=post.author %}">{{post.author}}</a> via <a href="{% url 'category' category=post.main_post.thread.subforum %}">/r/{{post.thread.subforum}}</a> sent {{post.date|naturaltime}}</p>
						<p id="body-message"> {{post.body}} </p>
						<p id="under-message"> <a href="{% url 'detailview' word=post.main_post.thread.subforum slug=post.main_post.thread.slug %}">full comments ({{post.main_post.thread.comments_count}})</a>
					</div>	
				</div>	
			</div>		
		</div>
	{% endif %}
{% endfor %}
{% endblock %}
